DB_PASSWORD=secret_password
APP_SECRET_KEY=secret_password
REPLICATION_PASSWORD=secret_password
DB_PORT_BINDING=port_for_external_access
APP_NAME=name_of_company
DOCKER_NAME=name_for_docker_image_and_container